stages:
  - deploy                        # Название этапа (можно любое)

image: python:3.11                # Docker-образ с Python

variables:
  BQ_CRED: $BQ_KEY                # Берём ключ из GitLab Variables

deploy_views:                     # Название задачи
  stage: deploy
  script:
    - pip install google-cloud-bigquery python-gitlab  # Установка библиотек
    - python gitlab_cicd/cicd_validate.py              # Запуск нашего скрипта
  only:
    refs:
      - main                      # Только при коммите в main
